@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-button-next, 
.swiper-button-prev {
  color: #7c885f !important;
}
@media (max-width: 900px) {
  .swiper-container:nth-child(2) {
    max-width: 78%;
    margin-left: 0;
  }
}

@media (min-width: 901px) {
  .swiper-container:first-child {
    max-height: 500px;
    width: 100%;
  }
}
@media (max-width: 733px) {
  .swiper-container:first-child {
    display: none;
  }
  .swiper-container:nth-child(2) {
    margin: 0 auto;
  }
}

.listing-link {
  width: 100%;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  margin: 16px 0 0 0;
  color: #b66e2d;
}
.listing-link:hover, 
.listing-link:active {
  color: #9d8f66;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.loading-h1 {
  font-size: 52px;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #586a3a;
}
